.section-heading {
  font-size: 2rem;
  border-bottom: 0.2rem solid #FDE93D;
  text-align: center;
  padding-top: 2rem;
  font-weight: 200;
  text-transform: uppercase; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.main-container {
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: [sidebar-start] 20rem [sidebar-end] 1fr 5rem [full-start] repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [full-end] 5rem;
  grid-template-rows: 100vh repeat(5, min-content) min-content; }
  @media only screen and (max-width: 56.25em) {
    .main-container {
      grid-template-columns: [sidebar-start] 0 [sidebar-end] 1fr 5rem [full-start] repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [full-end] 5rem;
      grid-template-rows: 100vh repeat(5, min-content) min-content; } }

.side-bar {
  font-size: 1.6rem;
  background-color: #FDE93D;
  width: 20rem;
  height: 100%;
  position: fixed;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3), 0 0.3rem 0.7rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .side-bar {
      display: none; } }

.nav__items {
  display: grid;
  grid-row-gap: .5rem;
  list-style: none;
  align-items: stretch;
  text-align: center; }

.nav__link {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: .5rem 1rem;
  transition: all .3s; }
  .nav__link:hover {
    transform: scale(1.1); }

.social-media-box {
  width: 15rem;
  height: 2rem;
  display: flex;
  justify-content: space-between; }

.social-icon {
  width: 3.3rem;
  height: 3.3rem;
  padding: .5rem;
  fill: #000;
  border-radius: 50%; }

.facebook:hover {
  fill: #3b5998; }

.twitter:hover {
  fill: #00acee; }

.youtube:hover {
  fill: #d31010ee; }

.social-link {
  text-decoration: none; }

.copyright {
  color: #333;
  text-transform: capitalize; }

.header {
  grid-column: sidebar-end / -1;
  grid-row: 1 / 2;
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center; }

.text-box {
  text-align: center; }

.main-heading {
  padding: 3rem 0;
  margin-top: -8rem; }

.primary-heading {
  text-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.7);
  color: #FDE93D;
  display: block;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-weight: 500; }

.secondary-heading {
  color: #fff;
  display: block;
  margin-top: -2rem;
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: .1rem;
  letter-spacing: .2rem;
  font-weight: 100; }

.btn {
  font-size: 1.8rem;
  background-color: #fff;
  padding: 1rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: .2rem;
  color: #333;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2); }
  .btn:hover {
    background-color: #FDE93D; }

.services {
  grid-column: col-start 1  / col-end;
  margin: 5rem 0; }

.check-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem; }

.product {
  background-color: #fff;
  width: 100%;
  height: 25rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .product {
      height: 40rem; } }
  .product__img {
    width: 100%;
    height: 100%; }
  .product__text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    color: #333;
    opacity: .94;
    padding: .5rem 3rem;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.6), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);
    border-radius: .1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .product__text {
        font-size: 1.3em; } }

.what-we-do {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 10rem;
  grid-row-gap: 5rem;
  margin-bottom: 5rem; }
  .what-we-do__text {
    font-size: 1.6rem;
    padding: 2rem 5rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);
    background-color: #fff; }

.about-img {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 3rem); }
  .about-img__img {
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    grid-column: 2 / span 6;
    grid-row: 1 / -1; }

.img-background {
  background-color: #FDE93D;
  grid-column: 1 / span 8;
  grid-row: 2 / span 10; }

.about-heading {
  width: 11rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  font-weight: 200;
  border-bottom: .2rem solid #FDE93D; }

.about-text {
  font-size: 1.6rem;
  color: #666; }
  @media only screen and (max-width: 75em) {
    .about-text {
      font-size: 1.2em;
      line-height: 1.5; } }

.portfolio {
  grid-column: col-start 1  / col-end;
  margin-bottom: 10rem; }
  .portfolio__container-h2 {
    width: 12rem;
    margin: 0 auto; }
  .portfolio__nav {
    width: 40rem;
    margin: 3rem auto; }
  .portfolio__nav-item {
    font-size: 1.6rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #FDE93D;
    padding: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .portfolio__nav-item {
        font-size: 2em; } }
  .portfolio__nav-link {
    text-decoration: none;
    color: #333;
    text-transform: uppercase; }

.current:active {
  background-color: #fff; }

.cloth {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem; }
  .cloth__product-imgbox {
    height: 25rem; }
    @media only screen and (max-width: 37.5em) {
      .cloth__product-imgbox {
        height: 45rem; } }
  .cloth__product-img {
    object-fit: cover;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%; }

.reviews {
  grid-column: col-start 1  / col-end;
  margin-bottom: 10rem; }

.happy-clients {
  font-size: 2rem;
  color: #222;
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: .2rem solid #FDE93D;
  margin-bottom: 2rem;
  width: 16rem; }

.review-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem; }

.review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .review {
      font-size: 1.6em; } }
  .review__pic {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 50%; }
  .review__text {
    color: #888;
    margin-top: 1rem;
    font-style: italic; }

.quote-icon {
  fill: #eee;
  filter: brightness(90%);
  width: 2rem;
  height: 2rem; }

.figure-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.figure-name {
  margin: 1rem 0;
  font-weight: 200;
  font-size: 1.8rem;
  color: #444;
  text-transform: capitalize; }

.contact {
  grid-column: col-start 1  / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  grid-column-gap: 5rem;
  margin-bottom: 5rem; }
  .contact__form {
    font-size: 1.6rem; }
    .contact__form-h2 {
      width: 9rem;
      margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .contact__form {
        font-size: 1.2em; } }

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 5rem);
  grid-gap: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .form {
      grid-template-columns: repeat(2, 1fr);
      font-size: 1.2em; } }
  .form > * {
    font-family: sans-serif;
    text-transform: capitalize;
    border-radius: .2rem;
    outline: none;
    background-color: #ffff;
    border: none;
    padding: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.4), 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.1); }
  .form > *::placeholder {
    padding: 1rem; }
  .form__name {
    grid-column: 1 / 2; }
    @media only screen and (max-width: 37.5em) {
      .form__name {
        grid-column: 1 / -1; } }
  .form__email {
    grid-column: 2 / -1; }
    @media only screen and (max-width: 37.5em) {
      .form__email {
        grid-column: 1 / -1; } }
  .form__textarea {
    grid-row: 2 / span 3;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 37.5em) {
      .form__textarea {
        grid-row: 3 /span 3; } }
  .form__submit {
    grid-column: 1 / -1;
    text-transform: uppercase;
    color: #666;
    font-size: 1.6rem;
    background-color: #FDE93D;
    text-align: center;
    height: 4rem;
    border: none;
    border-radius: .2rem; }
    .form__submit:hover {
      cursor: pointer; }

.opening-hours {
  width: 100%;
  color: #444;
  text-transform: uppercase; }
  .opening-hours__h2 {
    width: 18rem;
    margin-bottom: 2rem; }

table {
  width: 100%;
  background-color: #fff;
  font-size: 1.6rem;
  border-collapse: collapse;
  text-align: center;
  border-radius: .2rem;
  box-shadow: 0rem 0.2rem 0.6rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.2rem 0.6rem 0rem rgba(0, 0, 0, 0.5); }

table,
th,
td,
tr {
  border: 1px solid black; }

th,
td {
  padding: .6rem; }

.location {
  grid-column: col-start 1  / col-end; }
  .location__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .location__h2 {
    width: 16rem;
    margin-bottom: 2rem; }

#map {
  width: 100%;
  height: 50rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2); }

.fashion {
  background-image: linear-gradient(to top, rgba(255, 238, 0, 0.418), #f9f9f9);
  grid-column: sidebar-end / -1; }

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 4vw);
  grid-gap: 1rem;
  padding: 2rem 0; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-rows: repeat(10, 7vw);
      grid-gap: .7em; } }
  .gallery__item {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1), 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2); }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: top;
    display: block; }
  .gallery__item--1 {
    grid-column: 2 / 3;
    grid-row: 6 / span 4; }
  .gallery__item--2 {
    grid-column: 3 / 4;
    grid-row: 3 / span  2; }
  .gallery__item--3 {
    grid-column: 3 / 4;
    grid-row: 5 /span 3; }
  .gallery__item--4 {
    grid-column: 3 / 4;
    grid-row: 8 / -1; }
  .gallery__item--5 {
    grid-column: 4 / 5;
    grid-row: 1 / 6; }
  .gallery__item--5 {
    grid-column: 4 / 5;
    grid-row: 2 / span 5; }
  .gallery__item--6 {
    grid-column: 4 / 5;
    grid-row: 7 / span 3; }
  .gallery__item--7 {
    grid-column: 5 / 6;
    grid-row: 3 / span 2; }
  .gallery__item--8 {
    grid-column: 5 / span 1;
    grid-row: 5 / span 4; }
  .gallery__item--9 {
    grid-column: 5 / 6;
    grid-row: 9 / -1; }
  .gallery__item--10 {
    grid-column: 6 / 8;
    grid-row: 2 / span 3; }
  .gallery__item--11 {
    grid-column: 6 / span 4;
    grid-row: 5 / span 3; }
  .gallery__item--12 {
    grid-column: 6 / 7;
    grid-row: 8 / span 2; }
  .gallery__item--13 {
    grid-column: 7 / span 3;
    grid-row: 8 / span 2; }
  .gallery__item--14 {
    grid-column: 7 / span 2;
    grid-row: 10 / -1; }
  .gallery__item--15 {
    grid-column: 8 / 9;
    grid-row: 3 / span 2; }

.footer {
  background-color: crimson;
  grid-column: sidebar-end / -1; }
