*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.main-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: [sidebar-start] 25rem [sidebar-end] 1fr 5rem [full-start] repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [full-end] 5rem;
  grid-template-rows: 100vh; }

.side-bar {
  font-size: 1.6rem;
  background-color: #092135;
  width: 25rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.nav__items {
  display: grid;
  grid-template-rows: min-content;
  grid-row-gap: 2rem;
  list-style: none; }

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: block; }

.copyright {
  color: #777; }

.header {
  grid-column: sidebar-end / -1;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.text-box {
  text-align: center; }

.primary-heading {
  display: block;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 200; }

.secondary-heading {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: .4rem;
  letter-spacing: .4rem;
  font-weight: 100; }

.btn {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1rem 4rem;
  border-radius: 20rem;
  text-decoration: none;
  color: #333; }

.services {
  grid-column: col-start 1  / col-end; }

.check-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  margin-top: 5rem; }

.product {
  background-color: #fff;
  padding: 15rem 0;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1); }

.designers {
  background-color: slateblue;
  grid-column: col-start 1  / col-end; }

.shop {
  background-color: silver;
  grid-column: col-start 1  / col-end; }

.reviews {
  background-color: orangered;
  grid-column: col-start 1  / col-end; }

.contacts {
  background-color: yellow;
  grid-column: col-start 1  / col-end; }

.location {
  background-color: gold;
  grid-column: col-start 1  / col-end; }

.gallery {
  background-color: darkorange;
  grid-column: col-start 1  / col-end; }

.footer {
  background-color: crimson;
  grid-column: sidebar-end / -1; }
