.contact {
    grid-column: col-start 1  / col-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    grid-column-gap: 5rem;
    margin-bottom: 5rem;

    &__form {
        font-size: 1.6rem;

        &-h2 {
            width: 9rem;
            margin-bottom: 2rem;;
        }

        @include respond (tab-land) {
            font-size: 1.2em;
        }
    }

}

.form {
    font-size: 1.6rem;
    font-family: 'roboto',sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 5rem);
    grid-gap: 1rem;
   
    @include respond(phone) {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.2em;
    }
    

    & > *{
        font-size: 1.6rem;
        font-family: sans-serif;
        border-radius: .2rem;
        outline: none;
        background-color: #ffff;
        border: none;
        padding: 1rem;
        box-shadow: 0rem .1rem .2rem 0rem rgba(0,0,0, .4),
                    0rem .1rem .2rem 0rem rgba(0,0,0, .1);
        &::placeholder {
            text-transform: capitalize;
            font-size: 1.5rem;
            color: #555;
        }
    }   

    &__name {
        grid-column: 1 / 2;

        @include respond(phone) {
            grid-column: 1 / -1;
        }
    }

    &__email {
        grid-column: 2 / -1;
        
        @include respond(phone) {
            grid-column: 1 / -1;
        }
    }

    &__textarea {
        grid-row: 2 / span 3;
        grid-column: 1 / -1;

        @include respond(phone) {
            grid-row: 3 /span 3;
        }
        
    }

    &__submit {
        grid-column: 1 / -1;

        text-transform: uppercase;
        color: #faeefa;
        font-size: 1.6rem;
        background-color: #9f2c75;
        text-align: center;
        height: 4rem;
        border: none;
        border-radius: .2rem;

        &:hover {
            cursor: pointer;
        }
    
      
    }
}

.opening-hours {
    width: 100%;
    color: #560238;
    text-transform: uppercase;

    &__h2 {    
    width: 18rem;
    margin-bottom: 2rem;
    }
}

table {
    width: 100%;
    background-color: #fff;
    font-size: 1.6rem;
    border-collapse: collapse;
    text-align: center;
    border-radius: .2rem;
    box-shadow: 0rem .1rem .3rem 0rem rgba(0,0,0, .4),
                0rem .1rem .3rem 0rem rgba(0,0,0, .1);

}


table,
th,
td,
tr
{ 
    border: 1px solid #560238;
}

th,
td {
    padding: .6rem;
}


