.header {
    grid-column: sidebar-end / -1;
    grid-row: 1 / 2;

    background-image: url(../images/bck1.jpg);
    background-size: cover;
    background-position: right;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    @include respond(phone) {
        background-position: center;
       
    }
   
}

.text-box{
    font-family: 'roboto', sans-serif;
    text-align: center;    
    margin-top: 10rem;
   
    @include respond (big-desktop) {
        margin-left: 5rem;
    }

    @include respond (tab-port) {
        position: absolute;
        left: 0;
        top: 35vh;

    }

    
}

.lines {
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 20;
    position: fixed;
    display: none;
    
    @include respond (tab-port) {
        display: block;
    }
}

.line {
    width: 3rem;
    height: .5rem;
    background-color: #fff;
    margin-bottom: .5rem;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,.5);   
}

.main-heading {
    padding: 3rem 0;
    margin: -20vh 0 0 5vw;

    @include respond(phone) {
        margin: -20vh 0 0 0;

    }
}

.primary-heading {
   // text-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .7);
    color: #b80676;
    display: block;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    align-self: flex-start;

    @include respond (big-desktop) {
        font-size: 10rem;
    }

    @include respond(phone) {
        color: #560238;
        font-size: 6rem;
        text-align: center;
    }
}

.flash {
    color: #86075a;

}


.secondary-heading {
    color: #9f2c75;
    display: block;
    margin-top: -3rem;
    margin-left: 10rem;
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: .1rem;
    letter-spacing: .2rem;
    font-weight: 550;

    @include respond (big-desktop) {
        font-size: 4rem;
        margin-left: 15rem;
    }

    @include respond(phone) {
        color: #560238;
        font-weight: 550;
        margin-left: 5rem;
        text-align: center;
    }
}
