.header {
    grid-column: sidebar-end / -1;
    grid-row: 1 / 2;

    background-image: url(../images/background-img1.jpg);
    background-size: cover;
    background-position: right;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;   
   
}

.text-box{
    font-family: 'Philosopher','roboto', sans-serif;
    text-align: center;    
    margin-top: 10rem;
}

.main-heading {
    padding: 3rem 0;
    margin: -20vh 0 0 5vw;

    @include respond(phone) {
       margin: 0 0 0 1rem;
    
    }

    @include respond(tab-land) {
        //margin: -20rem 0 0 50rem;
    
    }
}

.primary-heading {
   // text-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .7);
    color: #b80676;
    display: block;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    align-self: flex-start;

    @include respond(phone) {
        color: #560238;
       background-color: #fff;
    }
}
.flash {
    color: #86075a;

    @include respond(phone) {
        color: #560238;
       background-color: #fff;
    
    }
}


.secondary-heading {
    color: #9f2c75;
    display: block;
    margin-top: -3rem;
    margin-left: 10rem;
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: .1rem;
    letter-spacing: .2rem;
    font-weight: 550;

    @include respond(phone) {
        color: #560238;
        font-weight: 550;
        //background-color: #fff;
    }
}