.services {
    grid-column: col-start 1  / col-end;
    margin: 5rem 0;
    

}

.check-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
   
}

.product {
    background-color: #fff;
    width: 100%;
    height: 30rem;
    box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0, .1),
                0rem .5rem 1rem 0rem rgba(0,0,0, .1);
    position: relative;
    margin-bottom: 5rem;
    
    @include respond(phone) {
        height: 40rem;
    }

    &__img {
        width: 100%;
        height: 100%;
     
    }

    &__text {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight:200;
        color: #560238;
        opacity: .94;
        padding: .5rem 3rem;
        background-color: #fff;    
        box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0, .6),
                    0rem .5rem 1rem 0rem rgba(0,0,0, .1);
        border-radius: .1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond (tab-land) {
            font-size: 1.3em;
        }
    }
}
.our-offers {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;

    margin-bottom: 5rem;

}

.offers{
    text-align: center;
    
    
    &__description {
        color: #555;
    }

    &__icon {
        fill: #9f2c75;
        width: 5rem;
        height: 5rem;
        margin-bottom: 2rem;
    }
}
.what-we-do {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    margin-bottom: 5rem;

    &__text {
        font-size: 1.6rem;
        background-color: #faeefa;
        
    }
}

.about-img {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 3rem);

    &__img {
        box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0, .1),
                    0rem .5rem 1rem 0rem rgba(0,0,0, .1);
        width: 100%;
        height: 100%;

        grid-column: 2 / span 6;
        grid-row: 1 / -1;
    }
}

.img-background {
    background-color: #9f2c75;
    grid-column: 1 / span 8;
    grid-row: 2 / span 10;
}

.about-heading {
    width: 11rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;

}

.about-text {
    font-size: 1.6rem;
    color: #666;

    @include respond (tab-land) {
        font-size: 1.2em;
        line-height: 1.5;
    }
}



