.portfolio {
    grid-column: col-start 1  / col-end;
    margin-bottom: 10rem;

    &__container {
        
    &-h2 {
        width: 12rem;
        margin: 0 auto;
    }
    }

    &__nav {
        width: 40rem;
        margin: 3rem auto;
    }

    &__nav-item {
        font-size: 1.6rem;
        list-style: none;
        display: flex;
        justify-content: space-around;
        background-color: #9f2c75;
        padding: 1rem ;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;

        @include respond (phone) {
            font-size: 2em;
        }
    }

    &__nav-link {
        color: #faeefa;
        text-decoration: none;
        text-transform: uppercase;
        
    }
}

.current:active {
    background-color: #fff;

}


.cloth {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 1rem;

    position: absolute;
    z-index: 1;
    

    &__product{
        
    }


    &__product-imgbox {
        height: 25rem;

        @include respond(phone) {
            height: 45rem;
        }
    }


    &__product-img {
        object-fit: cover;
        box-shadow: 0rem .1rem .2rem 0rem rgba(0,0,0, .4),
                    0rem .1rem .2rem 0rem rgba(0,0,0, .1);
        width: 100%;
        height: 100%;
    }

}

.cloth-category {
  height: 70rem;
  position: relative;

    
}