.side-bar {
    font-size: 1.6rem;
    background-color: #092135;
    width: 25rem;
    height: 100vh;
    position: fixed;
    //box-shadow: 0 1rem 3rem rgba(0,0,0, .3),//
               // 0 .3rem .7rem rgba(0,0,0, .5);//

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   

}

.nav {

    &__items {
       display: grid;
       grid-template-rows: min-content;
       grid-row-gap: 2rem;
       list-style: none;   
    }

    &__link {
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
    }
}

.copyright {
    color: #777
}
