.side-bar {
    font-size: 1.6rem;
    background-image: linear-gradient(to bottom left, #f40097,#9f2c75);
    width: 20rem;
    height: 100%;
    position: fixed;
    box-shadow: 0 1rem 3rem rgba(0,0,0, .3),
                 0 .3rem .7rem rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 

    @include respond(tab-port) {
        display: none;
    }
    
}

.nav {
    &__items {
       display: grid;
       grid-row-gap: .5rem;
       list-style: none;
       align-items: stretch;   
       text-align: center;
    }

    &__link {
        color: #faeefa;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: .5rem 1rem;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
     }
}

.social-media-box {
    width: 15rem;

    display: flex;
    justify-content: space-between;
}
.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #faeefa;
    border-radius: 50%;
}
.facebook:hover {fill: #560238;}
.twitter:hover {fill: #560238;}
.youtube:hover {fill: #560238;}
.social-link {text-decoration: none;}

.copyright {
    color: #560239;
    text-transform: capitalize;
    font-weight: 600;
}