.side-bar {
    grid-column: 1 / col-end;
    font-size: 1.6rem;
    background-color: #092135;
    position: fixed;
    //box-shadow: 0 1rem 3rem rgba(0,0,0, .3),//
               // 0 .3rem .7rem rgba(0,0,0, .5);//
    

}
.nav {

    &__items {
       display: grid;
       grid-row-gap: 2rem;
       list-style: none;
       align-items: stretch;   
    }

    &__link {
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
    }
}

.copyright {
    color: #777
}
